mixin Blog({imgSrc, type, requiredTime, title, description, link})
  .blog-card
    .position-relative.mb-3.mb-lg-4 
      img(src=`${CWD}assets/img/blogs/${imgSrc}`, alt="").w-100
      .inner-div 
        p.fw-semi-bold.mb-0= type
    .d-flex.flex-column.justify-content-between.h-100 
      div.p-2
        span(style="color: #5C5C5C;").mb-0= requiredTime 
        h2.text-success.fw-semi-bold.text-capitalize.mb-3.mb-lg-4.blog-title= title
      div.p-2
        p.text-cardText.fs-9.fs-md-8.fw-light.lh-xl.mb-2.line-clamp-2= description
        a(href=`${link}`).text-success.fw-bold.fs-9.fs-md-8.mb-0 read more...
        


mixin Blogs
  - 
    var blogItems = [
      {
        imgSrc: 'blog_1.png',
        type: 'indoor gardening',
        requiredTime: '5 mins read',
        title: '4 Ways to Level Up Your Indoor Gardening Game',
        description: 'Indoor gardening is not just about maintaining plants but also about composition and arrangement in a ...',
        link: '#!'
      },
      {
        imgSrc: 'blog_2.png',
        type: 'Cactus gardening',
        requiredTime: '2 mins read',
        title: 'Cactus: Some Common Myths and Misconceptions',
        description: 'Cactus Plants symbolize endurance, persistence, & toughness. Gifting someone a cactus plant means ...',
        link: '#!'
      },
      {
        imgSrc: 'blog_3.png',
        type: 'Fruit plant',
        requiredTime: '2 mins read',
        title: '6 reasons to reconsider where to plant your next fruit tree',
        description: 'Growing fruit trees indoors means you get to control everything from the light to humidity, right down to ....',
        link: '#!'
      }
    ]
  

  section#blogs.mb-7.mb-lg-11

    .row.mb-6.mb-lg-7.mb-xl-10.pt-6
      h3.mb-3.fs-7.fs-lg-6.text-success.fw-bold.text-center.text-lg-start aryanak blog 
      h1.fs-5.fs-lg-3.fs-xl-2.text-secondary.text-capitalize.mb-7.mb-lg-7.text-center.text-lg-start    
        | To Bring more 
        span.fw-bold Green
        br
        | into 
        span.fw-bold your home
      each item in blogItems
        .col-12.col-lg-4.mb-5.mb-lg-0.px-lg-3
          +Blog(item)

    .d-flex.justify-content-center
      a(href="#!")
        button.btn.btn-gradient.fs-8.d-inline-flex
          span see all posts
          span.uil.uil-arrow-right
