mixin Navbar 
    section.container.text-center.text-md-end.p-12
        for item in submenu
            a(href="#").ms-21.ms-md-23
                span(class=`${item.className}`).text-secondary
                span.ms-1.fs-10.text-primary #{item.label}
    header.sticky-top
        nav#navbar.bg-warning.mb-6.navbar.navbar-expand-lg
            .container
                a(href="#").navbar-brand.me-lg-auto
                    img(src=`${CWD}assets/img/logos/logo.png`, alt="")
            
                button(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
                    span.navbar-toggler-icon.text-white
                div#navbarSupportedContent.collapse.navbar-collapse.ms-lg-4.ms-xl-20.mt-3.mt-lg-0.d-lg-flex.justify-content-between
                    
                    form.form-inline.position-relative.w-lg-50
                            input(type="search", name="search" placeholder=" search plants...").search.fs-8.bg-transparent.form-control
                            .search-icon 
                                span.uil.uil-search
                    ul.navbar-nav.mt-2.mt-lg-0.ms-lg-4 
                        for navMenu in menu 
                            li.nav-item 
                                a(href=`${navMenu.link}`).nav-link.nav-bar-item #{navMenu.label}