mixin Review(star ,text, name, designation, imageSrc)
    div.review-card
        div
            img(src=`${CWD}assets/img/review/${imageSrc}`, alt="")
        div
            div(style="margin-bottom:5px;").d-flex.gap-1 
                - for(var i = 0; i < star; i ++)
                        img(src=`${CWD}assets/img/icons/Group.png`, alt="")
            div(style="margin-bottom: 19px")
                p.text-black.fs-9.fs-md-8.lh-normal= text
            div 
                p.text-success.fs-9.fs-md-8.fw-bold.lh-normal.mb-0= name 
            div 
                p.text-black.fs-10.fs-md-9.mb-0.lh-normal.fw-light= designation
