mixin card(imgSrc, productTitle, text)
    div.product-card
        .position-relative 
            img(src=`${CWD}${imgSrc}`, alt="").w-100
            .add-section
                a(href="/").d-flex.align-items-center
                    div(style="margin-right: 5px;")
                        img(src=`${CWD}assets/img/icons/wishlist.png`, alt="")
                    span.fs-10.fs-md-9.text-success.fw-bold add to wishlist 

                a(href="/").d-flex.align-items-center
                    div(style="margin-right: 5px;")
                        img(src=`${CWD}assets/img/icons/bi_cart-plus.png`, alt="")
                    span.fs-10.fs-md-9.text-success.fw-bold add to cart

        .product-card-body 
            h2.text-success.fs-8.fs-md-8.fw-semi-bold.lh-normal= productTitle 
            p.text-cardText.fs-10.fs-md-9.text-capitalize.lh-xl= text 
            

append content 
    #products.container.mx-auto.px-3.px-lg-0.mb-7.mb-lg-16.mb-xl-11
        p.mb-3.mb-lg-14.fs-7.fs-lg-5.fs-xl-12.text-success.fw-bold.lh-normal Our Products 
        
        p.fs-5.fs-lg-3.fs-xl-2.text-secondary.text-capitalize.fw-light.mb-13.mb-lg-5.lh-normal    
            span.fw-bold New 
            | Arrivals
        .row.g-lg-4.mb-6.mb-lg-7.mb-xl-16 
            .col-12.col-lg-4
                +card('assets/img/products/products/1.png', 'Philodendron', 'The Philodendron White Princess has been around for some time in private collections. But they have hit the market now in full big potted plants.')
            .col-12.col-lg-4
                +card('assets/img/products/products/2.png', 'Monstera Obliqua Peruvian', 'aS it is a small species, Monstera Obliqua is uncommon. Another reason for its scarcity is that it grows slowly and has short selling seasons')
                
            .col-12.col-lg-4
                +card('assets/img/products/products/3.png', 'Norfolk Island Pine', 'Although a lively addition to your home all year round—the Norfolk Island Pine shines as a live holiday tree during the winter season')
        
        div
            p.fs-5.fs-lg-3.fs-xl-2.text-secondary.text-capitalize.text-md-end.fw-light.mb-13.mb-lg-5.lh-normal    
                span.fw-bold Popular 
                | little plants

        .row.g-lg-4.mb-6.mb-lg-7.mb-xl-16 
            .col-12.col-lg-4
                +card('assets/img/products/products/4.png', 'Snake/Sansevieria', "Sansevierias are succulent plants. they have strong, stiff, succulent leaves that store water. these plants release oxygen in the night")
            .col-12.col-lg-4
                +card('assets/img/products/products/5.png', 'Bromeliad Aechmea Pink', 'Featuring colorful, long-lasting blooms, the Bromeliad Aechmea Pink is a unique flowering plant to add a touch of tropics With lasting blooms ')
                
            .col-12.col-lg-4
                +card('assets/img/products/products/6.png', 'Parlor Palm', ' The parlor palm (Chamaedorea elegans) has long been used as an indoor plant. NASA gave this plant a high purifying score.')
        
        div
            p.fs-5.fs-lg-3.fs-xl-2.text-secondary.text-capitalize.fw-light.mb-13.mb-lg-5.lh-normal    
                span.fw-bold Easy 
                | to care plants

        .row.g-lg-4.mb-6.mb-lg-7.mb-xl-16 
            .col-12.col-lg-4
                +card('assets/img/products/products/7.png', 'Peace Lily', "If you're prone to overwatering, try Spathiphyllum. With enough light, they'll also produce their spade-shaped flowers throughout the year. ")
            .col-12.col-lg-4
                +card('assets/img/products/products/8.png', 'Spider Plant', 'The fast-growing shoots produce little "babies" that you can re-pot for added greenery elsewhere. Just stick to well-lit spots, water weekly. ')
                
            .col-12.col-lg-4
                +card('assets/img/products/products/9.png', 'Kalanchoe', 'This water-retaining succulent grows colorful, bell-shaped flowers and withstands dry climates and terrible temperature swings.')

        div.d-flex.justify-content-center
            button.btn.btn-gradient
                p.fs-8.text-white.fs-bold.mb-0 see full catalog